{% extends 'catalog/base.html' %}

{% block content %}
<div class="row text-center">
    {% for product in products %}
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <h4 class="font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <p>{{ product.description|truncatechars:100 }}</p>
                <p>Цена: ${{ product.purchase_price }}</p>
                <a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-outline-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

